{% extends "main/base.html" %}
{% load static %}

{% block title %}Stud{% endblock %}

{% block css %}
<link href="{% static 'main/stylesheets/login.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}{% endblock %}

{% block content %}
	 <div class="container">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" action='/login/?next={{next}}' method="POST" id="LoginForm">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
              <fieldset>
                <div id="legend">
                  <legend class="">Login</legend>
                </div>
                <div class="control-group">
                  <!-- webmail -->
                  <label class="control-label"  for="webmail">Webmail</label>
                  <div class="controls">
                    <input type="text" id="webmail" name="webmail" placeholder="Webmail" class="input-xlarge">
                  </div>
                </div>
                <div class="control-group">
                  <!-- Password-->
                  <label class="control-label" for="password">Password</label>
                  <div class="controls">
                    <input type="password" id="password" name="password" placeholder="Password" class="input-xlarge">
                  </div>
                </div>
                <div class="control-group">
                  <!-- Server-->
                  <label class="control-label" for="server">Server</label><br>
                  <div class="controls">
                    
                      
                      <select class="form-control" name="server">
                        
                        <option value="202.141.80.10">Disang</option>
                        <option value="202.141.80.11">Tamdil</option>
                        <option value="202.141.80.12">Teesta</option>
                        <option value="202.141.80.13">Dikrong</option>
                        <option value="202.141.80.9">Naambor</option>
                      </select>

                    
                  </div>
                </div><br>
                <div class="control-group">
                  <!-- Button -->
                  <div class="controls">
                    <button class="btn btn-success">Login</button>
                  </div>
                  {% if invalid_auth %}
                  <p>Invalid credentials. Please try again.</p>
                  {% endif %}
                </div>
              </fieldset>
            </form>
        </div>
    </div>
 </div>       
{% endblock %}